<fieldset [formGroup]="localFormGroup">
  <label for="answer"> {{inputJSON.question}}</label>
  <input *ngIf="inputJSON.type !== 'boolean'" id="answer" [attr.type]="inputJSON.type" formControlName="answer">
  <select *ngIf="inputJSON.type === 'boolean'" [formControlName]="'answer'">
    <option [ngValue]="'true'">Yes</option>
    <option [ngValue]="'false'">No</option>
  </select>
</fieldset>
<app-preview-input *ngFor="let inputElem of inputJSON.children"
                   [parentValue]="localFormGroup.value.answer"
                   [formGroup]="localFormGroup"
                   [inputJSON]="inputElem"
                   [parentType]="inputJSON.type">
</app-preview-input>
