<fieldset [formGroup]="formGroup">
  <legend><span>{{nestedId}}</span></legend>
  <p class="condition" *ngIf="parentType">
    <label for="condition">Condition</label>
    <select id="condition"
            [ngModel]="inputModel.getCondition()?.type || conditionTypeList[0]"
            (ngModelChange)="inputModel.setCondition(getConditionObject($event, null))"
            [formControlName]="'conditionType'">
      <option *ngFor="let conditionType of conditionTypeList"
              [ngValue]="conditionType">
        {{getConditionTypeName(conditionType)}}
      </option>
    </select>
    <span>
      <input *ngIf="parentType !== 'boolean'"
             [ngModel]="inputModel.getCondition()?.value"
             (ngModelChange)="inputModel.setCondition(getConditionObject(null, $event))"
             [attr.type]="parentType"
             formControlName="conditionValue">
      <select *ngIf="parentType === 'boolean'"
              [ngModel] = "(inputModel.getCondition()?.value || 'false')"
              (ngModelChange)="inputModel.setCondition(getConditionObject(null, $event))"
              [formControlName]="'conditionValue'">
          <option [ngValue]="'true'">Yes</option>
          <option [ngValue]="'false'">No</option>
      </select>
    </span>
  </p>
  <p>
    <label for="question">Question</label>
    <input id="question"
           [ngModel]="inputModel.getQuestion()"
           (ngModelChange)=" inputModel.setQuestion($event)"
           formControlName="question" >
  </p>
  <p>
    <label for="type">Type</label>
    <select id="type"
            [ngModel]="inputModel.getType() || getTypesList()[0]"
            (ngModelChange)="inputModel.setType($event)"
            [formControlName]="'type'">
      <option *ngFor="let type of getTypesList()"  [ngValue]="type">{{ type }}</option>
    </select>
  </p>
  <p>
    <button (click)="addChild()">Add sub-item</button>
    <button (click)="remove()">Remove</button>
  </p>
</fieldset>
<app-form-builder-input *ngFor="let child of inputModel.getChildren()"
                        [form]="formGroup"
                        [nestedId]="nestedId+1"
                        [inputModel]="child"
                        [parentType]="inputModel.getType()"></app-form-builder-input>
